@tailwind base;
@tailwind components;
@tailwind utilities;



/* body.dark-mode {
  background-color: #1a202c;
  color: #cbd5e0;
}

body.light-mode {
  background-color: #cbd5e0;
  color: #1a202c;
}

body.dark-mode .navbar {
  background-color: #1a202c;
  color: #cbd5e0;
}

body.light-mode .navbar {
  background-color: #cbd5e0;
  color: #1a202c;
}

body.dark-mode .footer {
  background-color: #1a202c;
  color: #cbd5e0;
} */
/* 
body.light-mode .footer {
  background-color: #cbd5e0;
  color: #1a202c;
} */


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

li {
  margin-top: 2rem  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.custom-underline {
  border-bottom: 8px solid ; /* Adjust color and thickness */
  padding-bottom: 8px; /* Increase to push the underline lower */
}